<!DOCTYPE html>
<html>
<head>
  <title>Auto Chopper</title>
</head>
<body>
  <h2>Upload Test and Solution PDFs</h2>
  <form method="post" enctype="multipart/form-data">
    Test PDF: <input type="file" name="test_pdf"><br>
    Solution PDF: <input type="file" name="sol_pdf"><br>
    Year: <input type="text" name="year"><br>
    Month: <input type="text" name="month"><br>
    Type (Inv/Reg): <input type="text" name="type"><br>
    Level (Algebra1, Geometry...): <input type="text" name="level"><br>
    Individual/Team: <input type="text" name="indiv"><br>
    <input type="submit" value="Submit">
  </form>
</body>
</html>
